@{
    ViewBag.Title = "usanews24h - newspaper from all the local of 52 states of United States of America";
    ViewBag.Des = "news 52 states of United States of America";
    ViewBag.keywords = "usa, news, 24h, local, states";
}
<div class="row">
    <div id="main-content">
      
            @Html.Raw(@ViewBag.all)
       
    </div>
</div>